<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>108275234440-3rtic3tmlbjere67m726v474c5bkeieh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108275234440-3rtic3tmlbjere67m726v474c5bkeieh</string>
	<key>API_KEY</key>
	<string>AIzaSyCOARmmXFrFN_il0Yoh5xoTfjJgB2Lpdbg</string>
	<key>GCM_SENDER_ID</key>
	<string>108275234440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aggietutor.AggieTutor</string>
	<key>PROJECT_ID</key>
	<string>aggie-tutor</string>
	<key>STORAGE_BUCKET</key>
	<string>aggie-tutor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108275234440:ios:7877532498a026cf</string>
	<key>DATABASE_URL</key>
	<string>https://aggie-tutor.firebaseio.com</string>
</dict>
</plist>