AggieTutor/AggieTutor.xcodeproj/xcuserdata/zaidalrakabi.xcuserdatad/xcschemes/xcschememanagement.plist
	AggieTutor/AggieTutor.xcworkspace/xcuserdata/zaidalrakabi.xcuserdatad/UserInterfaceState.xcuserstate

AggitTutor/.DS_STORE
